
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:opsz,wght@17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sawarabi+Gothic&display=swap');

*{
    font-family: "Google Sans", sans-serif;
    margin: 0;
    padding: 0;
}
body
{
    background-color: black;
    color: white;
}
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
    margin: 20px 0;
}
ul li {
    list-style: none;
    display: flex;
    gap: 15px;
    width: 14px;
    padding-top: 20px;
    font-weight: bold;
}
.bg-grey{
    background-color: #121212;

}
.footer{
    display: flex;
    font-size: 9px;
    color: gray;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}
.footer a{
    color: gray;
}
.library{
    min-height: 80vh;
    position: relative;
}
.nav img{
    width: 14px;
}
.nav
{
    display: flex;
    /* justify-content: space-between; */
}
.header
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #2a2a2a;
    margin: 10px;
}
.spotify-playlist{
padding: 16px;
}
.spotify-playlist .card{
width: 200px;
padding: 10px;
border-radius: 5px;
background-color: #1f1f1f;

}
.card img{
    width: 100%;
    object-fit: contain;
}
.card > * {
    padding-top: 10px;
}
.card-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;

}
.card{
    position: relative;
}
.play{
    position: absolute;
    top: 150px;
    right: 20px;
    opacity: 0;
    transition: all 1s ease-out;
}